<!DOCTYPE html>
<!-- ETAPE 5 : Exécution de la page -->
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout.html">
<head>
<meta charset="UTF-8">
<title>Liste des commentaires</title>

</head>
<body>
	<section layout:fragment="monContenu">
		<div class="card mt-3">
			<div class="card-header bg-primary text-white display-6">Liste des commentaires</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Identifiant</th>
							<th>Date</th>
							<th>Note</th>
							<th>Commentaires</th>
							<th>Produit</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="comment : ${mesCommentaires}">
							<td th:text="${comment.id}"></td>
							<td>[[${#dates.format(comment.date, 'dd/MM/yyyy HH:mm')}]]</td>
							<td>[[${comment.note}]]</td>
							<td>[[${comment.commentaire}]]</td>
							<td>[[${comment.produit?.libelle}]]</td>
							<td><div class="btn-group btn-group-sm">
									<a th:href="@{/commentaire/edit(id=${comment.id})}" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
									<a th:href="@{/commentaire/delete/{id}(id=${comment.id})}"class="btn btn-danger"><i class="bi bi-trash"></i></a>
								</div></td>
						</tr>
					</tbody>

				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/commentaire/add}" class="btn btn-success btn-lg"><i
					class="bi bi-plus-square"></i></a>
			</div>
		</div>
	</section>
</body>
</html>